body {
  background-color: #6f2c15fb !important;
}

input[type="text"],
input[type="number"],
select,
textarea
/* span */ {
  width: 100%;
  padding: 12px;
  border: 3px solid rgba(202, 178, 43, 0.84);
  background-color: white;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  border-top: none;
  border-left: none;
  border-right: none;
}

input[type="submit"] {
  background-color: rgba(202, 178, 43, 0.84);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  bottom: 100px;
  left: 730px;
}

input[type="submit"]:hover {
  background-color: rgba(245, 210, 8, 0.933);
}

.mainCont {
  border: 3px solid rgba(202, 178, 43, 0.84);
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 80%;
  height: 35vw;
  margin: auto;
    margin-top: auto;
  display: flex;
  margin-top: 60px;
}

.cont {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: #f2f2f2;
  margin: auto;
  padding-right: 10%;
}

.cont2 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 50%;
  margin: auto;
  position: relative;
  top: 9px;
}

.formulaireProduit{
  width: 100%;
}


.un{
  display: flex;
  flex-direction: row;
  gap: 10%;
  
}

.deux{
  display: flex;
  flex-direction: row;
  gap: 10%;
}

.trois{
  display: flex;
  flex-direction: row;
  gap: 10%;
}

.quatre{
  display: flex;
  flex-direction: row;
  gap: 10%;
}