body {
  background-image: url(https://french.xinhuanet.com/photo/2018-11/16/137607240_15422447817811n.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

input[type="text"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 3px solid rgba(202, 178, 43, 0.84);
  background-color: white;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  border-top: none;
  border-left: none;
  border-right: none;
}

input[type="submit"] {
  background-color: rgba(202, 178, 43, 0.84);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  height: 20%;
  width: 10%;
  left: 45%;
  bottom: 0;
  top: 20px;
}

input[type="submit"]:hover {
  background-color: rgba(245, 210, 8, 0.933);
  font-weight: bold;
}

select {
  color: rgba(0, 0, 0, 0.499);
}

a {
  color: rgb(133, 119, 36) !important;
}

a:hover {
  -webkit-text-stroke: 1px rgba(190, 186, 162, 0.84);
  -webkit-text-fill-color: transparent;
}

@font-face {
  font-family: roboto;
  src: url(./Roboto-Bold.ttf);
}

.mainCont {
  border: 3px solid rgba(202, 178, 43, 0.84);
  border-radius: 5px;
  background-color: rgba(252, 255, 243, 0.84);
  width: 80%;
  height: 35vw;
  margin: auto;
  margin-top: auto;
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  gap: 10%;
  animation: 2s slide-right forwards;
  transform: translateX(-250%);
}
@keyframes slide-right {
  to {
    transform: translateX(0);
  }
}

.cont {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  /* background-color: #f2f2f2; */
  width: 85%;
  margin: auto;
  margin-left: auto;
  margin-left: 30px;
}

.formulaireProduit {
  width: 100%;
  margin-left: 5%;
}

.un {
  display: flex;
  flex-direction: row;
  gap: 5%;
  align-items: baseline;
}

.deux {
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.trois {
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.type {
  height: 51px;
}

.title {
  height: 48px;
  margin-top: 25px;
  color: rgba(0, 0, 0, 0.499);
  text-align: center;
}

#editNavBar {
  background-color: rgba(231, 229, 226, 0.54) !important;
  border-bottom: 5px solid rgba(202, 178, 43, 0.84);
  font-family: roboto-bold !important;
  font-weight: bold;
  animation: 2s slide-right forwards;
  transform: translateX(-250%);
}

@keyframes slide-right {
  to {
    transform: translateX(0);
  }
}

.navbar-expand-lg .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
  justify-content: end;
}

.navbar-expand-lg .navbar-nav {
  flex-direction: row;
  gap: 160px;
  margin-right: 20px;
  font-size: 19px;
}

.navbar-brand {
  font-size: 2rem !important;
}

#palais {
  margin-left: 20px;
}
