body {
  background-color: rgba(117, 38, 9, 0.8) !important;
}

img {
  height: 20px;
}

.cont {
  border: 3px solid rgba(202, 178, 43, 0.84);
  border-radius: 5px;
  background-color: #f2f2f2;
  width: 80%;
  height: 35vw;
  margin: auto;
  margin-top: 60px;
}

#filter {
  background-color: #f2f2f2;
  border: none;
  border-bottom: 1px solid black;
}

#filterBtn {
  border: none;
  background-color: #f2f2f2;
}

#editNavBar {
  background-color: rgba(231, 230, 226, 0.84) !important;
}

.navbar-expand-lg .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
  justify-content: end;
}
