body {
  background-image: url(https://french.xinhuanet.com/photo/2018-11/16/137607240_15422447817811n.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  height: 20px;
}

@font-face {
  font-family: roboto;
  src: url(./Roboto-Bold.ttf);
}

@font-face {
  font-family: roboto;
  src: url(./Roboto-Bold.ttf);
}

.container {
  border: 3px solid rgba(202, 178, 43, 0.84);
  border-radius: 5px;
  background-color: #f2f2f2;
  width: 80%;
  height: 35vw;
  margin: auto;
  margin-top: 60px;
}

#filter {
  background-color: #f2f2f2;
  border: none;
  border-bottom: 1px solid black;
}

#filterBtn {
  border: none;
  background-color: #f2f2f2;
}

#editNavBar {
  background-color: rgba(231, 230, 226, 0.84) !important;
  border-bottom: 5px solid rgba(202, 178, 43, 0.84);
  font-family: roboto-bold;
}

.navbar-expand-lg .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
  justify-content: end;
}

.navbar-expand-lg .navbar-nav {
  flex-direction: row;
  gap: 30px;
  margin-right: 20px;
}

#palais {
  margin-left: 20px;
}
