#editNavBar {
  background-color: rgba(231, 229, 226, 0.54) !important;
  border-bottom: 5px solid rgba(202, 178, 43, 0.84);
  font-family: roboto-bold !important;
  font-weight: bold;
}

.btnAdd {
  border-radius: 5px;
  border: none;
  opacity: 0.7;
}

.navbar-expand-lg .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
  justify-content: end;
}

#palais {
  margin-left: 20px;
}

.navbar-expand-lg .navbar-nav {

    flex-direction: row;
    gap: 160px;
    margin-right: 20px;
    font-size: 19px;
  
}

@font-face {
  font-family: roboto;
  src: url(./Roboto-Bold.ttf);
}

a:hover {
  /* color: white !important; */
  -webkit-text-stroke: 1px rgba(190, 186, 162, 0.84);
  -webkit-text-fill-color: transparent;
}

a {
  color: rgb(133, 119, 36) !important;
}

body {
  background-image: url(https://french.xinhuanet.com/photo/2018-11/16/137607240_15422447817811n.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.fiou {
  width: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  font-family: roboto-bold;
  font-size: 80px;
  font-weight: 500;
  /* -webkit-text-stroke: 1px rgba(231, 230, 226, 0.84);
  -webkit-text-fill-color: transparent; */
  /* transform: translateY(150px);
  transform: translate(42px, 18px);
  transition: transform 1s; */
  color: rgba(231, 230, 226, 0.54);
}

/* @keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
h1 {
  animation: 1s ease-out 0s 1 slideInLeft;
} */

.mainFiou {
  width: 100%;
  overflow: hidden;
  margin-left: 300px;
  max-width: 500px;
}

.mainFiou h1 {
  animation: 2s slide-right forwards;
  transform: translateX(-250%);
}

@keyframes slide-right {
  to {
    transform: translateX(0);
  }
}

.navbar-brand {
  padding-top: var(--bs-navbar-brand-padding-y);
  padding-bottom: var(--bs-navbar-brand-padding-y);
  margin-right: var(--bs-navbar-brand-margin-end);
  font-size: var(--bs-navbar-brand-font-size);
  color: var(--bs-navbar-brand-color);
  text-decoration: none;
  white-space: nowrap;
  font-size: 2rem !important;
}
