#editNavBar {
  background-color: rgba(231, 230, 226, 0.84) !important;
  border-bottom: solid 5px #ffd700;
}

.btnAdd {
  border-radius: 5px;
  border: none;
  opacity: 0.7;
}

.navbar-expand-lg .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
  justify-content: end;
}
